<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Desafio acesso</title>
<link rel="icon" href="bootstrap/images/icone.jpg" />
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600" />
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" />
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="../bootstrap/css/estilos.css" rel="stylesheet" />
</head>

<body>
	<header>
		<div class="container-fluid index" align="center"
			style="margin-top: 1em;">
			<h1>Seja bem-vindo ao gerenciador de senhas</h1>
		</div>
	</header>

	<main class="container">
	<h2>O que é</h2>

	<p>Esse sistema oferece uma uma forma simples de gerenciar suas
		senhas de diversos serviços, elas ficaram armazenadas e disponíveis
		para consulta a qualquer momento, você também pode alterar e
		exclui-las a qualquer momento sem problema algum.</p>

	<div align="center">
		<img src="../bootstrap/images/gerenciador.png" alt="imagen senha" />
	</div>

	<div id="btn-inicio" align="center">
		<a href="homeinicio" class="btn btn-large btn-success">Clique para acessar</a>
	</div>

</main>

	<footer class="container-fluid">
			<br/>
			<p>Autor: Leonardo Lima</p>
			<br/>
	</footer>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
